[app]
log_level = "DEBUG"
default_job_ttl = "60s"
enable_tracing = false 
trace_file_path = "./out.traces"

[job_queue.broker]
type = "redis"
addresses = ["localhost:6379"]
password = ""
db = 1
max_active = 50
max_idle = 20
dial_timeout = "1s"
read_timeout = "1s"
write_timeout = "1s"

[job_queue.state]
type = "redis"
addresses = ["localhost:6379"]
password = ""
db = 1
max_active = 50
max_idle = 20
dial_timeout = "1s"
read_timeout = "1s"
write_timeout = "1s"
expiry = "3000s"
meta_expiry = "3600s"

[results.my_results]
type = "postgres"
dsn = "postgres://testUser:testPass@127.0.0.1:5432/testDB?sslmode=disable"
max_idle = 10
max_active = 100
connect_timeout = "10s"
results_table = "results_%s"

[db.my_db]
type = "postgres"
dsn = "postgres://testUser:testPass@127.0.0.1:5432/testDB?sslmode=disable"
max_idle = 10
max_active = 100
connect_timeout = "10s"

[db.ch_db]
type = "clickhouse"
dsn = "clickhouse://default:@127.0.0.1:9000/default?sslmode=disable"
max_idle = 10
max_active = 100
connect_timeout = "10s"
# host = "localhost"
# port = 9000
# db = "default"
# user = "default" 
# password = ""
# autocommit = false
# max_active = 100
# max_idle = 100
# connect_timeout = 60